{% extends "index.html" %}
<!-- Content Header (Page header) -->
{% block content %}
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DL DETAILS</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DL DETAILS</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">DRIVING LICENSE DETAILS</h3>
              </div>
              <!-- /.card-header -->
              {% for i in data %}  
           <div>
            <h2>DrivingLicenseNo</h2>
            <p>{{i.drivinglicenseNo}}</p>
            </div>
            <div>
                <h2>HOLDER NAME</h2>
                <p>{{i.holder_name}}</p>
                </div>
                <div>
                    <h2>LICENSE AUTHORITY</h2>
                    <p>{{i.license_authority}}</p>
                    </div>
                    <div>
                        <h2>VEHICLE CLASS</h2>
                        <p>{{i.vehicle_class}}</p>
                        </div>
                        <div>
                            <h2>ISSUE DATE</h2>
                            <p>{{i.issue_date}}</p>
                            </div>
                            <div>
                                <h2>LICENSE VALIDITY</h2>
                                <p>{{i.license_validity}}</p>
                                </div>
                                <div>
                                    <h2>DATE OF BIRTH</h2>
                                    <p>{{i.dob}}</p>
                                    </div>
                                            

          <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        {% endfor %}
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    {% endblock %}
    <!-- /.content -->
  